.box1{
    background-color: blueviolet;
    height: 600px;
    width: 100%;
}
.box2{
    background-color: rgb(226, 43, 134);
    height: 600px;
    width: 100%;
}
.box3{ 
    background:url(./assets/1.jpg);
    background-repeat: no-repeat; 
    background: cover; 
    background-position: left bottom; 
   
}
 .box4{
    height: 400px;
    background:url(./assets/amazon4.jpg);
    background-repeat: no-repeat; 
    background: cover; 
    background-position:left bottom; 
 } 