
.css{
    background-color: red;
    height: 300px;
    width: 300px;
}
#col1{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
#col2{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
#col3{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
#col4{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
#col5{
    background-color: aqua;
    height: 300px;
    width: 300px;
}

